{% extends 'base.html' %}
{% load static %}
{% block title %} Acervo {% endblock %}
{% block js %}
<script>
    function delete_register(id) {
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "El registro no se podrá recuperar",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
            })
    }
</script>
{% endblock %}
{% block content %}

<!-- Content Header (Page header) -->
<div id="acervo">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Acervo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}"><i class="fas fa-home"
                                    style="color: black;"></i></a></li>
                        <li class="breadcrumb-item">Acervo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="content mx-4 mb-5 p-3">
        <div id="contentTitle" class="row">
            <div class="col-xl-6 align-self-center">
                <h5 class="text-bold">Tabla de registro de datos</h5>
            </div>
            <div class="col-xl-6">
                <a type="button" id="btnPlusBook" class="btn float-right" data-bs-toggle="modal"
                    data-bs-target="#acervo_add">Registrar libro<i class="fas fa-plus ml-1"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive bg-white p-2">
            <table id="acervoTable" class="cell-border stripe" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Autor</th>
                        <th class="text-center">Editorial</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Colocación</th>
                        <th class="text-center">Edición</th>
                        <th class="text-center">Año</th>
                        <th class="text-center">Tipo de adquisición</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in list_acervo %}
                    <tr>
                        <td>{{ list.titulo }}</td>
                        <td>{{ list.autor }}</td>
                        <td>{{ list.editorial }}</td>
                        <td class="text-right">{{ list.cant }}</td>
                        <td>{{ list.colocacion }}</td>
                        <td class="text-right">{{ list.edicion }}</td>
                        <td class="text-right">{{ list.año }}</td>
                        <td>{{ list.type_adqui }}</td>
                        <td class="text-center">
                            {% if list.estado == "EXC" %}
                            <i class="fas fa-circle text-success"></i>
                            {% endif %}
                            {% if list.estado == "BUE" %}
                            <i class="fas fa-circle" style="color:rgb(255, 115, 0)"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <!-- Edita el registro -->
                            <a href="#"><i class="fas fa-edit text-info"></i></a>
                            <!-- Elimina el registro -->
                            <a href="{% url 'delete_acervo' list.colocacion %}" id="acervo_delete"
                                data-coloca="{{ list.colocacion }}"><i class="fas fa-trash-alt text-danger"></i></a>
                            <!--a href="#" onclick="delete_register('{{ list.colocacion }}')" id="acervo_delete"
                                data-coloca="{{ list.colocacion }}"><i class="fas fa-trash-alt text-danger"></i></a-->
                        </td>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- Se incluye el html de modal -->
{% include 'modal.html' %}
{% endblock %}