{% load static %}
<!-- Modal de registro de proyectos de estadías-->
<div class="modal fade" id="modal_registro" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close mr-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Agregar Proyecto de Estadías</h3>
                    </div>
                    <div class="card-body">
                        <form action="/estadias_registro/" method="POST" enctype="multipart/form-data"
                            id="tbl_addproyecto">
                            {% csrf_token %}
                            <label for="proyecto">Proyecto</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-heading"></i></span>
                                </div>
                                {{ form.proyecto }}
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <label for="alumno">Alumno</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-graduate"></i></span>
                                        </div>
                                        {{ form.alumno }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="typeAdq">Carrera</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        {{ form.carrera }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <label for="edito">Asesor Académico</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="fas fa-chalkboard-teacher"></i></span>
                                        </div>
                                        {{ form.asesor_academico }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="anio">Generación</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-graduation-cap"></i></span>
                                        </div>
                                        {{ form.generacion }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <label for="edic">Empresa</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                                        </div>
                                        {{ form.empresa }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="edito">Asesor Empresarial</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                        </div>
                                        {{ form.asesor_orga }}
                                    </div>
                                </div>
                                <label class="form-label" name="reporte" for="customFile">Reporte estadías</label>
                                <input type="file" accept=".pdf" name="reporte" class="form-control mb-5"
                                    id="customFile" />
                            </div>
                            <button type="submit" id="btnSendEstadias" class="btn float-right ml-1"
                                style="background-color: #0a3d62; color: white">Agregar</button>
                            <button type="button" class="btn btn-default float-right"
                                data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>