{% extends 'base.html' %}
{% load static %}
{% block title %}Proyectos de Estadías{% endblock %}
{% block content %}
  <br>


  <div id="proyectos">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Proyectos de estadías</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}"><i class="fas fa-home"
                                    style="color: black;"></i></a></li>
                        <li class="breadcrumb-item">UTS Proyectos de Estadías</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="content mx-4 mb-5 p-3">
        <div id="contentTitle" class="row">
            <div class="col-xl-6 align-self-center">
                <h5 class="text-bold">Proyectos de Estadias</h5>
            </div>

        </div>
        <div class="table-responsive bg-white p-2">
            <table id="ProyectosTable" class="table table-striped w-100 mx-2">
                <thead>
                    <tr>
                        
                        <th class="text-center">Proyecto</th>
                        <th class="text-center">Alumno</th>
                        <th class="text-center">Asesor Académico</th>
                        <th class="text-center">Generación</th>
                        <th class="text-center">Empresa</th>
                        <th class="text-center">Asesor Empresarial</th>
                        <th class="text-center">Carrera</th>
                        <th class="text-center">Reporte</th>
                    </tr>
                </thead>
                <tbody>
                  {% for p in reporte %}
                    <tr>
                      <td>{{p.proyecto}}</td>
                      <td>{{p.alumno}}</td>
                      <td>{{p.asesor_academico}}</td>
                      <td>{{p.generacion}}</td>
                      <td>{{p.empresa}}</td>
                      <td>{{p.asesor_empresarial}}</td>
                      <td>{{p.carrera}}</td>
                      <td><a href="archivos_estadias/{{ p.reporte }}" class="btn btn-primary btn-sm">Ver Reporte</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                      <th class="text-center">Proyecto</th>
                      <th class="text-center">Alumno</th>
                      <th class="text-center">Asesor Académico</th>
                      <th class="text-center">Generación</th>
                      <th class="text-center">Empresa</th>
                      <th class="text-center">Asesor Empresarial</th>
                      <th class="text-center">Carrera</th>
                      <th class="text-center">Reporte</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- /.content -->
  </div>

  

{% endblock %}



