{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!-- Content Header (Page header) -->
<div id="home">
    <section class="content-header mt-5">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Inicio</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}"><i class="fas fa-home"
                                    style="color: black;"></i></a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Etiquetas de estado -->
    <section class="content-header" id="tags">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ total_book }}</h3>
                            <p>Libros en existencia</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-boxes"></i>
                        </div>
                        <a href="{% url 'acervo' %}" class="small-box-footer">Más información <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Libros prestados</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <a href="{% url 'acervo' %}" class="small-box-footer">Más información <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <!-- Sección de Dashboard Pie-->
                    {% if total_state > 0 %}
                    <figure class="highcharts-figure" id="chartPie" data-states="{{ states }}">
                        <div id="container"></div>
                    </figure>
                    {% endif %}
                </div>
                <div class="col-xl-6">
                    <figure class="highcharts-figure" id="chartColum" data-libros="{{ cant_libros }}"
                        data-discos="{{ cant_discos }}">
                        <div id="container_colum"></div>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}