.main-header {
    background-color: #0a3d62;
}

.main-header #logoutBtn {
    max-height: 2.5rem;
    width: 10rem;
    align-content: center;
    position: absolute;
    left: -2rem;
    border-radius: 5px;
    background-color: #3c6382;
}

.main-header #logoutBtn a:hover {
    background-color: #60a3bc;
}

.main-header #btnDropdown {
    background-color: #3c6382;
}

.main-header #logoutBtn i {
    color: red;
}