{% load static %}
<!-- Modal de registro de proyectos de estadias-->
<div class="modal fade" id="modal_registro" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row align-self-end">
                <a type="button" class="btn border-0 mt-2 pr-5" id="close">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Agregar Proyecto de Estadías</h3>
                    </div>
                    <div class="card-body">
                        <form action="/proyectos/" id="tbl_addproyecto" method="POST">
                            {% csrf_token %}
                            <label for="proyecto">Proyecto</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-heading"></i></span>
                                </div>
                                <input type="text" name="proyecto" class="form-control"
                                    placeholder="Nombre del Proyecto">
                            </div>
                            <label for="alumno">Alumno(s)</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-graduate"></i></span>
                                </div>
                                <input type="text" name="alumno" class="form-control"
                                    placeholder="Nombre del Alumno(s)">
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <label for="edito">Asesor Académico</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="fas fa-chalkboard-teacher"></i></span>

                                        </div>
                                        <input type="text" name="asaca" class="form-control"
                                            placeholder="Asesor Académico">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="anio">Generación</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-graduation-cap"></i></span>
                                        </div>
                                        <input type="text" name="generacion" class="form-control"
                                            placeholder="Generación">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <label for="edic">Empresa</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-building"></i></span>

                                        </div>
                                        <input type="text" name="empresa" class="form-control" placeholder="Empresa">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="edito">Asesor Empresarial</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                        </div>
                                        <input type="text" name="asemp" class="form-control"
                                            placeholder="Asesor Empresarial">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <label for="typeAdq">Carrera</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        <select class="form-control" name="carrera" aria-label="Default select example">
                                            <option selected>- Indique la carrera -</option>
                                            <option value="TIS">TIS</option>
                                            <option value="ADC">ADC</option>
                                            <option value="MET">MET</option>
                                            <option value="QAI">QAI</option>
                                            <option value="PIA">PIA</option>
                                            <option value="QAM">QAM</option>
                                            <option value="ERC">ERC</option>
                                            <option value="IDGS">IDGS</option>
                                            <option value="ITEA">ITEA</option>
                                            <option value="IMET">IMET</option>
                                            <option value="IER">IER</option>
                                            <option value="ISIP">ISIP</option>
                                            <option value="IPQ">IPQ</option>
                                            <option value="LGCH">LGCH</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label" name="archivo" for="customFile">Reporte de
                                        Estadías</label>
                                    <input type="file" class="form-control" accept=".pdf" id="customFile" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right ml-1"
                                id="btnModalSend">Agregar</button>
                            <button type="button" class="btn btn-default float-right"
                                data-bs-dismiss="modal">Cancelar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>